.create-wallet {
    top: 20%;
    position: relative;
}

.button-margin {
    margin-bottom: 3% !important;
    margin-right: 3% !important;
}

.add-success {
    margin: 3% 10% 3% 10% !important;
}